@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

body {
    font-size: 16pt;
}

.active {
    color: #495E57;
    font-weight: 700;
}

.react-multiple-carousel__arrow--left {
    left: -6px !important;
    border: 1px solid #b6b6b6 !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 0px !important;
}

.react-multiple-carousel__arrow--right {
    right: -6px !important;
    border: 1px solid #b6b6b6 !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 10px !important;
}

.react-multiple-carousel__arrow {
    background-color: #fff !important;
    min-width: 36px !important;
    min-height: 40px !important;
    opacity: 0.5 !important;
}

.react-multiple-carousel__arrow::before {
    font-size: 32px !important;
    color: #7f7f7f !important;
    font-weight: bolder;
    display: block !important;
}

.custom-dot-list-style {
    color: yellow;
}

.carousel-item-padding-40-px {
    padding: 032px;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@media (max-width: 548px) {
    .carousel-item-padding-40-px {
        padding: 0 0;
    }
}